@import '../../../../app/assets/styles/placeholders';
@import '../../../../app/assets/styles/variables';
@import '../../../../app/assets/styles/mixins';

.feedbackSection {
  @include limitedWidth(1400px, 0 0px);
  @media (max-width: 700px) {
    padding: 0;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.5rem;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.feedbacksTitle {
  @extend %montserrat-600;
  @extend %noPadMarg;
  width: 100%;
  font-size: 3rem;
  color: $clr-primary;
  text-align: center;

  @media (min-width: 0px) and (max-width: 440px) {
    font-size: 2rem;
  }
  @media (min-width: 441px) and (max-width: 570px) {
    font-size: 2.5rem;
  }
  @media (min-width: 1200px) {
    width: auto;
    text-align: left;
  }
}

.decor {
  width: 47px;
  height: 32px;
  flex-grow: 1;
  background-image: url('../../../../app/assets/img/svg/quote.svg');
  background-position: left center;
  background-repeat: no-repeat;

  @media (max-width: 570px) {
    display: none;
  }
  @media (min-width: 1200px) {
    margin-left: 19.5%;
  }
}

.controlsWrap {
  display: flex;
  align-items: center;

  & > button {
    flex-shrink: 0;

    @media (hover: none) and (pointer: coarse) and (max-width: 440px) {
      display: none;
    }
  }
}

.paginationWrap {
  margin: 0 1.125rem;
}

.sliderWrap {
  width: 100%;
}

.feedbackCard,
.feedback blockquote,
.author {
  @extend %inter-400;
  font-style: normal;
  color: $clr-text-dk;
}

.feedbackCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.details {
  display: flex;
  border-top: 1px solid #c4cde1;
  border-bottom: 1px solid #c4cde1;
  margin-bottom: 2.5rem;

  @media (max-width: 470px) {
    flex-direction: column;
  }

  @media (max-width: 767px) {
    align-items: stretch;
    width: 100%;
  }

  @media (min-width: 1200px) {
    display: block;
    border-bottom: none;
  }
}

.detailsBlock {
  box-sizing: border-box;
  padding: 1rem 0.3rem;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: flex-start;
  width: 33%;

  &:nth-child(2) {
    border-left: 1px solid #c4cde1;
    border-right: 1px solid #c4cde1;
  }

  @media (max-width: 470px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    &:nth-child(2) {
      border: none;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #c4cde1;
    }
  }

  @media (max-width: 767px) {
    // height: 100%;
    // flex-grow: 1;
  }

  @media (min-width: 1200px) {
    width: auto;
    align-items: flex-start;
    &:nth-child(2) {
      border: none;
      border-bottom: 1px solid #c4cde1;
    }
    border-bottom: 1px solid #c4cde1;
  }
}

.mainContent {
  @media (min-width: 1200px) {
    width: 65%;
  }
}

.feedback blockquote,
.author {
  font-size: 1rem;
}

.detailsTitle {
  font-size: 0.875rem;
  color: $clr-primary;
  font-weight: 600;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: 470px) {
    margin: 0;
    flex-shrink: 1;
    text-align: start;
  }
}

.detailsDesc {
  @extend %noPadMarg;
  text-align: center;
  font-size: 0.875rem;
  flex-shrink: 2;

  @media (max-width: 470px) {
    text-align: end;
  }
}

.author {
  margin: 1.562rem 0 2.812rem;
}

.author,
.authorName {
  display: block;
}

.authorName {
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}
