@import "../../../../app/assets/styles/mixins";
@import '../../../../app/assets/styles/variables';

.heroSection {
  min-height: calc(100dvh - 76px);
  @include centered();
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: 493px 2fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
    "title image "
    "title image "
    "title image "
    "btn image "
    ". image ";
  justify-content: space-between;
  max-height: 500px;
  column-gap: 2rem;

  @include limited();

  
  @media (max-width: 1400px) {
    grid-template-columns: 35vw 2fr;
    column-gap: 0
  }

  @media (max-width: 1130px) {
    max-height: max-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
      "title"
      "image"
      "btn";
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  
}

.title {
  grid-area: title;
  align-self: center;
  color: $clr-primary;
  font-family: montserrat, arial, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  line-height: 3.5rem;
  flex-shrink: 2;

  @media (max-width: 1500px) {
    font-size: clamp(1.5rem, 3.2vw, 3rem);
    line-height: clamp(2rem, 3.7vw, 3.5rem);
    margin: 2vw 0;
  }

  & span {
    @media (max-width: 1130px) {
      text-align: center;
      display: block;
    }
  }

  @media (max-width: 1130px) {
    text-align: center;
  }
}

.btnWrap {
  grid-area: btn;
  align-self: start;

  @media(max-width: 1300px){
    align-self: end;
  }

  @media (max-width: 1130px) {
    align-self: center;
  }
}

.imageWrap{
  grid-area: image;
  flex-shrink: 3;
  justify-self: end;
  transition: .2s linear;

  @media (max-width: 1130px) {
    justify-self: center;
    width: 50vw
  }

  @media (max-width: 740px) {
    width: 25.3rem
  }

  @media (max-width: 520px) {
    width: 70vw
  }
}





