@import '../../app/assets/styles/variables';

.burgerBtn {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  width: 24px;
  height: 20px;
  padding: 7px;
  background: none;
  border: none;
  cursor: pointer;

  &_opened {
    justify-content: center;

    & .line {
      width: 110%;
      background-color: $clr-text-lt;
    }

    & .line:nth-child(2) {
      transform: translateY(50%) rotate(45deg);
    }

    & .line:nth-child(3) {
      display: none;
    }

    & .line:nth-child(4) {
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &_closed {
    justify-content: space-between;
  }
}

.line {
  display: block;
  width: 100%;
  height: 2.5px;
  border-radius: 5px;

  &_light {
    background-color: $clr-text-ltr;
  }

  &_dark {
    background-color: $clr-text-lt;
  }
}
