@import '../../app/assets/styles/placeholders';
@import '../../app/assets/styles/variables';

.loader {
  @extend %centered;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: $clr-text-ltr;
  opacity: 0.7;
}
