@import '../../app/assets/styles/variables';
@import '../../app/assets/styles/mixins';

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.limited {
  //for header and content
  @include limited()
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &_expanded {
    @media (max-width: 1130px) {
      position: fixed;
      background-color: $clr-background;
      z-index: 5;
      top: 0;
      left: 0;
      height: 100dvh;
    }
  }
}

.controlsWrap {
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: 76px;
  transition: .1s ease-out;
}

.link {
  flex-basis: 230px;
  height: auto;
  
}

.navBarWrap {
  display: block;
  flex-shrink: 0;
  @media (max-width: 1130px){
    display: none;
  }
}

.btnWrap {
  display: none;
  @media (max-width: 1130px){
    display: block;
  }
  
}

.mobileNav {
  display: none;

  @media (max-width: 1130px){
    &_opened {
      display: flex;
      flex-grow: 1;
      width: 100%;
      overflow-y: auto;
    }
  
  }
}

.navList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vw;
  width: 100%;
}

.mobileLink {
  display: block;
  width: 100%;
  text-align: center;

  color: $clr-primary;
  font-weight: 600;
  padding: 1em;
  border-bottom: 1px solid #c4cde1;

  &:hover {
    text-decoration: none;
    color: $clr-primary;
  }
}

.link {
  cursor: pointer;

  &.active {
    cursor: default;
  }
}
