@import '../../app/assets/styles/variables';
@import '../../app/assets/styles/placeholders';

.btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;

  &::before {
    content: '';
    display: inline-block;
    width: 1.75rem;
    height: 2.37rem;
    background-image: url('../../app/assets/img/decorative/mouse.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 0.5rem;
  }
}

.text {
  @extend %inter-600;
  color: $clr-accent;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
