%montserrat-600 {
  font-family: 'Montserrat', arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

%montserrat-500 {
  font-family: 'Montserrat', arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

%montserrat-400 {
  font-family: 'Montserrat', arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

%inter-600 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

%inter-400 {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

%limited {
  //for header and content
  padding: 0 60px;
  width: 100%;
  max-width: 1600px;

  @media (max-width: 900px) {
    padding: 0 calc(5vw / 1.5);
  }
}

%centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%noPadMarg {
  padding: 0;
  margin: 0;
}
