//colors var
$clr-primary: #1b3070;
$clr-text-dk: #49598d;
$clr-text-lt: #a4acc6;
$clr-text-ltr: #fff;
$clr-accent: #8ac249;
$clr-accent-dk: #7baf3f;
$clr-background: #efeeeb;
$clr-background-mild: #e5e5e5;
$clr-background-dk: #4862b1;
$clr-background-dk-lt: #4d61a5;

//font-size var
$smallFontSize: 0.875rem;
$mainFontSize: 1rem;
$mainHeader: 3rem;

//breakpoints
$breakpoint-sm: 767px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$bp-header-nav: 1000px;