//the right sewuence of imports for resetting the lib's styles
@import "./fonts";
@import "uikit/dist/css/uikit.min.css";
@import "./reset.scss";

:root {
  color-scheme: light dark;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}