@import './fonts';
@import 'uikit/src/scss/variables.scss';
@import 'uikit/src/scss/mixins.scss';
@import 'uikit/src/scss/components/base.scss';
@import 'uikit/src/scss/components/grid.scss';
@import 'uikit/src/scss/components/card.scss';
@import 'uikit/src/scss/components/nav.scss';
@import 'uikit/src/scss/components/navbar.scss';
@import 'uikit/src/scss/components/drop.scss';
@import 'uikit/src/scss/components/dropdown.scss';
@import './reset.scss';
@import './variables';

:root {
  color-scheme: light dark;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background: $clr-background;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
