@import "../../../app/assets/styles/mixins";
@import "../../../app/assets/styles/variables";

.contentWrap {
  @include centered();
  position: relative;
  min-height: 100dvh;
  background-color: $clr-background-dk;
  background-image: url('../../../app/assets/img/png/tile-right.png'), url('../../../app/assets/img/png/tile-left.png');
  background-position: right top, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 250px;
  padding: 10rem 0 6.25rem;
}