@import "../../../app/assets/styles/mixins";
@import "../../../app/assets/styles/variables";
@import "../../../app/assets/styles/placeholders";

//TODO: adjust highlite blocks for vports with different scroll bar sizes
.contentWrap {
  @extend %centered;
  padding-bottom: 6rem;
  position: relative;
  min-height: 100dvh;
  background-color: $clr-background-dk;
  background-image: url('../../../app/assets/img/decorative/tile-right.png'), url('../../../app/assets/img/decorative/tile-left.png');
  background-position: right top, left top;
  background-repeat: no-repeat;
  background-size: 250px;

  @media (max-width: 705px) {
  background-image: url('../../../app/assets/img/png/tile-left.png');
  background-position: left top;
  }
}

.appList {
  @extend %noPadMarg;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

}

.listItem{
  flex-basis: 215px;
  height: 180px;
  border: 1px solid rgba(255, 255, 255, .06);
  
  &:nth-child(2n + 1) {
    background-color: rgba(255, 255, 255, .06);
    border: 1px solid rgba(255, 255, 255, 0);

  }
  //1025-1249
  &_reduced {
    &:nth-child(n) {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, .06);
    }

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(8),
    &:nth-child(n + 9) {
      background-color: rgba(255, 255, 255, .06);
      border: 1px solid rgba(255, 255, 255, 0);
  
    }
  }

  // 488-728
  &_reducedMin {
    
    &:nth-child(n) {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, .06);
    }

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(8),
    &:nth-child(9) {
      background-color: rgba(255, 255, 255, .06);
      border: 1px solid rgba(255, 255, 255, 0);
  
    }
  }
}

.reduced:nth-child(n+5) {
  display: none;
}

.btnWrap {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.feedbacksWrap {
  @extend %centered;
  justify-content: center;
  padding: 10rem 10rem 5rem;
  background-color: $clr-background-mild;
  background-image: url('../../../app/assets/img/svg/quote-bg.svg');
  background-position: right top 80px;
  background-repeat: no-repeat;
  background-size: 500px;

  
  @media (max-width: 1400px) {
    background-image: none;
    padding: 8rem 8rem 3rem;
  }
  
  @media (max-width: 1200px) {
    background-image: none;
    padding: 5rem 5rem 3rem;
  }

  @media (max-width: 1000px) {
    padding: 3rem 3rem 2rem;
  }

  @media (max-width: 600px) {
    padding: 1.5rem;
  }
}