@import '../../app/assets/styles/mixins';
@import '../../app/assets/styles/variables';

.section {
  @include limited();

}

.title {
  color: $clr-text-ltr;
  text-align: center;
  font-family: montserrat, arial, sans-serif;
  margin-bottom: 3rem;
  font-size: 3rem; //adapt
  font-weight: 600;

  @media (max-width: 1500px) {
    font-size: clamp(1.3rem, 3.2vw, 3rem);
    line-height: clamp(1.6rem, 3.7vw, 3.5rem);
    margin-bottom: clamp(2rem, 2vw, 3rem);
  }

  @media (max-width: 1000px) {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  @media (max-width: 650px) {
    font-size: clamp(1.4rem, 5.5vw, 2rem);
    line-height: clamp(1.9rem, 5.9vw, 2.8rem);
  }


  & span {
    @media (max-width: 1599px) {
      display: block;
      text-align: center;
    }
  }
}