@import '../../app/assets/styles/placeholders';
@import '../../app/assets/styles/variables';

.section {
  @extend %limited;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;

  @media (max-width: 1000px) {
    padding-top: 6rem;
  }

  @media (max-width: 599px) {
    padding-top: 4rem;
  }
}

.title {
  @extend %montserrat-600;
  max-width: 1200px;
  color: $clr-text-ltr;
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 2.5rem;


  @media (max-width: 1000px) {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  @media (max-width: 599px) {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  & span {
    @media (max-width: 1599px) {
      display: block;
      text-align: center;
    }
  }
}