@import '../../app/assets/styles/placeholders';

.navList {
  @extend %noPadMarg;
}

.navBar {
  flex-shrink: 0;
}

.headerList {
  display: flex;
}

.headerList.navList {
  padding-left: 0;
}

.footerList .navItem {
  margin: 0;

  @media (hover: hover) {
    &:hover {
      background-color: #ffffff0c;
    }
  }
}

.navItem {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}
