.navMenu {
  box-sizing: content-box;
  padding: 0 100px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: calc(100% - 200px);
  max-width: 1300px;
}
.headerList {
  display: flex;
}
.link{
  width: 230px;
  height: 38px;
}

.navItem {
  display: flex;
  align-items: center;
  margin-right: 45px;

  &:last-child{
    margin-right: 15px;
  }
}