@import '../../app/assets/styles/variables';
@import '../../app/assets/styles/placeholders';

.slideContainer {
  max-width: 360px;
  width: 100%;
  padding: 20px;

  @media (min-width: 680px) and (max-width: 1000px) {
    max-width: 700px;
  }

  @media (min-width: 1001px) {
    max-width: 1020px;
  }
}

.slideContent {
  padding-bottom: 3rem !important;
}

.cardWrap {
  align-self: stretch;
  height: auto;
}

.card {
  display: block;
  width: 100%;
  max-width: 320px;
  height: 100%;
  padding: 1.2rem;
  background-color: $clr-background;

  &:hover {
    text-decoration: none;
  }
}

.imageWrap {
  position: relative;
  height: 138px;
  width: auto;
}

.cardImg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
}

.title {
  @extend %montserrat-500;
  @extend %noPadMarg;
  font-size: 1.25rem;
  text-align: center;
  color: $clr-primary !important;
  margin-bottom: 1rem;
}

.desc {
  @extend %inter-400;
  @extend %noPadMarg;
  font-size: 1rem;
  color: $clr-text-dk !important;
  text-align: center;
  margin-bottom: 0.8rem;
}

.extra {
  @extend %inter-400;
  @extend %noPadMarg;
  font-size: 0.8rem;
  color: $clr-text-dk !important;
  text-align: center;
}

.navigation {
  display: none;
  @media (min-width: 840px) {
    display: flex;
    align-items: center;
  }
}
